doctype html
html(lang='en')
  head
    title !{title} !{separator} MaxSpeicher.com
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Google Web Fonts
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,800|Gentium+Book+Basic:400,400italic')
    // MDL CSS
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    // Custom CSS
    link(rel='stylesheet', href='/stylesheets/#{customCss}')
    // MDL JS
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js')
    // jQuery
    script(src='//code.jquery.com/jquery-2.0.0.min.js')
  body
    block content
